save-workspace-protocol=rolling
save-prefix=
registry=https://registry.npmmirror.com/
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=*@commitlint*
public-hoist-pattern[]=czg
public-hoist-pattern[]=simple-git-hooks
