.web3-connect {
  @mixin base-box {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: normal;
    text-align: left;
    vertical-align: baseline;
    border: 0;
    -webkit-tap-highlight-color: transparent;
  }

  display: flex;
  -webkit-box-pack: center;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;

  .dot {
    @include base-box;

    width: 8px;
    height: 8px;
    background-color: var(--el-color-success);
    border-radius: 9999px;
  }

  .el-dialog__header {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0;
  }

  .el-dialog__body {
    padding: 0;
  }

  &-choose {
    border-radius: 8px;

    &-content {
      @include base-box;

      display: flex;
      flex-direction: row;
      max-height: 504px;

      &-left {
        @include base-box;

        display: flex;
        flex-direction: column;
        min-width: 246px;
        margin-top: 18px;

        &-title {
          @include base-box;

          padding: 0 18px 8px;
          margin-left: 6px;

          h1 {
            @include base-box;

            font-size: 18px;
            font-weight: 800;
            line-height: 24px;
            color: var(--el-text-color-primary);
            text-align: inherit;
          }
        }

        &-content {
          @include base-box;

          max-height: 454px;
          padding: 0 18px 18px;
          overflow: auto;

          &-recent {
            @include base-box;

            margin: 16px 6px 8px;

            span {
              @include base-box;

              font-size: 14px;
              font-weight: 700;
              line-height: 18px;
              color: var(--el-text-color-regular);
              text-align: inherit;
            }
          }

          &-list {
            @include base-box;

            display: flex;
            flex-direction: column;
            gap: 8px;

            &-item {
              @include base-box;

              position: relative;
              display: flex;
              flex-direction: row;
              gap: 12px;
              align-items: center;
              width: 100%;
              padding: 8px;
              font-size: 16px;
              font-weight: 700;
              line-height: 20px;
              color: var(--el-text-color-primary);
              text-align: left;
              cursor: pointer;
              background: none;
              border-radius: 8px;
              transition: 0.125s ease;

              &:hover {
                background-color: var(--el-bg-color-page);
              }

              &.active {
                color: white;
                background-color: var(--el-color-primary);
              }
            }
          }
        }
      }

      &-right {
        @include base-box;

        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 50px 16px 16px;

        &-content {
          @include base-box;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-height: 320px;

          &-title {
            @include base-box;

            margin-bottom: 10px;

            span {
              @include base-box;

              font-size: 18px;
              font-weight: 800;
              line-height: 24px;
              color: var(--el-text-color-primary);
              text-align: inherit;
            }
          }

          &-content {
            @include base-box;

            display: flex;
            flex-direction: column;
            gap: 32px;
            justify-content: center;
            max-width: 312px;
            margin: 20px 0;

            &-item {
              @include base-box;

              display: flex;
              flex-direction: row;
              gap: 16px;
              align-items: center;

              .wallet-desc {
                @include base-box;

                display: flex;
                flex-direction: column;
                gap: 4px;

                &-icon {
                  @include base-box;

                  width: 48px;
                  min-width: 48px;
                  height: 48px;
                  overflow: hidden;
                  border-radius: 6px;
                }

                &-title {
                  @include base-box;

                  font-size: 14px;
                  font-weight: 700;
                  line-height: 18px;
                  color: var(--el-text-color-primary);
                  text-align: inherit;
                }

                &-desc {
                  @include base-box;

                  font-size: 14px;
                  font-weight: 500;
                  line-height: 18px;
                  color: var(--el-text-color-regular);
                  text-align: inherit;
                }
              }
            }
          }

          &-btns {
            @include base-box;

            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: center;
            margin: 10px;
          }

          &-connecting {
            @include base-box;

            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;

            &-content {
              @include base-box;

              display: flex;
              flex-direction: column;
              gap: 20px;
              align-items: center;

              &-top {
                @include base-box;

                height: 60px;
                overflow: hidden;
                border-radius: 10px;
              }

              &-center {
                @include base-box;

                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                padding: 0 32px;
                text-align: center;

                &-opening-wallet {
                  @include base-box;

                  font-size: 20px;
                  font-weight: 700;
                  line-height: 24px;
                  color: var(--el-text-color-primary);
                  text-align: inherit;
                }

                &-waiting-connection {
                  @include base-box;

                  display: flex;
                  align-items: center;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 20px;
                  color: var(--el-text-color-regular);
                  text-align: center;
                }
              }
            }
          }

          &-install {
            @include base-box;

            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;

            &-content {
              @include base-box;

              display: flex;
              flex-direction: column;
              gap: 20px;
              align-items: center;

              &-top {
                @include base-box;

                height: 60px;
                overflow: hidden;
                border-radius: 10px;
              }

              &-center {
                @include base-box;

                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                padding: 0 32px;
                text-align: center;

                &-not-installed {
                  @include base-box;

                  font-size: 20px;
                  font-weight: 700;
                  line-height: 24px;
                  color: var(--el-text-color-primary);
                  text-align: inherit;

                  &-desc {
                    @include base-box;

                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    color: var(--el-text-color-regular);
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &-switch-network {
    border-radius: 8px;

    &-content {
      @include base-box;

      display: flex;
      flex-direction: column;
      gap: 14px;
      padding: 16px;

      &-title {
        @include base-box;

        padding: 4px 0 8px;
        font-size: 18px;
        font-weight: 800;
        line-height: 24px;
        color: var(--el-text-color-primary);
        text-align: inherit;
      }

      &-list {
        @include base-box;

        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 2px;

        &-item {
          @include base-box;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 6px;
          text-align: left;
          cursor: pointer;
          background: none;
          border-radius: 8px;
          transition: 0.125s ease;

          &:hover {
            background-color: var(--el-bg-color-page);
          }

          &.active {
            color: white;
            cursor: auto;
            background-color: var(--el-color-primary);
          }

          &-left {
            @include base-box;

            display: flex;
            flex-direction: row;
            gap: 4px;
            align-items: center;
            height: 28px;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
          }

          &-right {
            @include base-box;

            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 6px;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
          }
        }
      }
    }
  }

  &-account-info {
    border-radius: 8px;

    &-content {
      @include base-box;

      padding: 16px;

      &-top {
        @include base-box;

        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        margin: 8px;
        text-align: center;

        &-icon {
          @include base-box;
        }

        &-info {
          @include base-box;

          display: flex;
          flex-direction: column;
          gap: 0;
          text-align: center;

          &-account {
            @include base-box;

            font-size: 18px;
            font-weight: 800;
            line-height: 24px;
            color: var(--el-text-color-primary);
            text-align: inherit;
          }

          &-balance {
            @include base-box;

            padding: 10px 0;
            font-size: 14px;
            font-weight: 600;
            line-height: 18px;
            color: var(--el-text-color-regular);
            text-align: inherit;
          }
        }
      }

      &-bottom {
        @include base-box;

        display: flex;
        flex-direction: row;
        gap: 8px;
        margin: 16px 2px 2px;

        &-btn-content {
          @include base-box;

          display: flex;
          flex-direction: column;
          gap: 1px;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding-top: 2px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .web3-connect {
    &-choose {
      &-content {
        &-left {
          min-width: 287px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .connect-btn {
    min-width: 163px;
  }
}
