@use 'sass:map';
@use 'functions' as func;

@mixin font-style($type, $var: null) {
  @if not $var {
    font-family: var(--#{$var}-font-family, func.v(--#{$type}-font-family));
    font-size: var(--#{$var}-font-size, func.v(--#{$type}-font-size));
    font-weight: var(--#{$var}-font-weight, func.v(--#{$type}-font-weight));
    line-height: var(--#{$var}-line-height, func.v(--#{$type}-line-height));
    letter-spacing: var(
      --#{$var}-letter-spacing,
      func.v(--#{$type}-letter-spacing)
    );
  } @else {
    font-family: func.v(--#{$type}-font-family);
    font-size: func.v(--#{$type}-font-size);
    font-weight: func.v(--#{$type}-font-weight);
    line-height: func.v(--#{$type}-line-height);
    letter-spacing: func.v(--#{$type}-letter-spacing);
  }
}

@mixin focus-ring($color: var(--border-interactive)) {
  outline: 2px solid $color;
}

@mixin for-phone-only {
  @media (max-width: 671px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 672px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 1056px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1312px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1584px) {
    @content;
  }
}
